body,
html {
  width: 100%;
  height: 100%;
  /* font-family: 'Montserrat', sans-serif; */
  background: linear-gradient(0deg, rgba(255, 230, 230, 0.267), rgba(245, 181, 181, 0.6)),url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1{
  font-size: 3rem;
  color: #550000;
  text-shadow: 1px 1px 5px #FFAAAA

}

hr{
  border-color: #801515;
  border-width: 4px;
  max-width: 65px;
}

.buffer{
  height: 8rem;
}
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary{
  background-color: #801515;
  border-color: #801515;
}

.btn-primary:hover{
  background-color: #D46A6A;
  border-color: #D46A6A;
  border-width: 4px;
}

.btn-xl{
  padding: 1rem 2rem;

}